torch
future
h5py
jax==0.2.10
jupyter
jupyterlab
matplotlib
numpy
pandas
requests
scipy
scikit-learn
tqdm
torchvision
pytorch-lightning==1.2.5 #0.8.5
# after needs to install jaxlib==0.1.61+cuda101 -f https://storage.googleapis.com/jax-releases/jax_releases.html
# also needs to install package from folder pip install -e .